/* CSS declarations go here */

@font-face {
  font-family: Password;
  src: url('/ttf/password.ttf');
}

.password {
  font-family: "Password";
}

.undo-hidden {
  visibility:hidden;
}

.hundredp {
  width: 100%;
}

.cell-link, .cell-trash {
  color: #000000;
}
